html {
  font-size: 16px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #ededed;
}

.card {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  margin: auto;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__item {
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.25);
  width: 100%;
  margin-bottom: 0.25rem;
  overflow: hidden;
  cursor: pointer;
}
.cards__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.cards__left {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 3rem;
}
.cards__right {
  display: flex;
  white-space: nowrap;
}
.cards__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 491.996 491.996'%3E%3Cpath fill='%23707070' d='M484.132 124.986l-16.116-16.228c-5.072-5.068-11.82-7.86-19.032-7.86-7.208 0-13.964 2.792-19.036 7.86l-183.84 183.848L62.056 108.554c-5.064-5.068-11.82-7.856-19.028-7.856s-13.968 2.788-19.036 7.856l-16.12 16.128c-10.496 10.488-10.496 27.572 0 38.06l219.136 219.924c5.064 5.064 11.812 8.632 19.084 8.632h.084c7.212 0 13.96-3.572 19.024-8.632l218.932-219.328c5.072-5.064 7.856-12.016 7.864-19.224 0-7.212-2.792-14.068-7.864-19.128z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  transition: 0.5s;
}
.cards__inner {
  max-height: 0;
  transition: 0.5s;
}
.desc__item {
  overflow: hidden;
  padding: 1rem 2rem;
  border-bottom: 1px solid #999999;
}
.desc__item:last-child {
  border-bottom: none;
}
.desc__top {
  display: flex;
  flex-direction: column;
}
.desc__summ {
  margin-left: auto;
}
.desc__img {
  width: 0;
  height: 0;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.35rem solid #707070;
  margin-right: 0.5rem;
  transition: 0.5s;
}
.desc__bottom {
  max-height: 0;
  transition: 0.5s;
}
.desc__row {
  display: flex;
  align-items: center;
}
.desc__row {
  margin-bottom: 1rem;
}
.product__item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.product__item:last-child {
  margin-bottom: 0;
}
.product__price {
  margin-left: auto;
}
.product__img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  flex-shrink: 0;
}
.product__pic {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__name {
  color: #000;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.product__summ {
  color: #000;
  font-size: 1.25rem;
}
.product__price {
  color: #000;
}
.product__information {
  max-width: 70%;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .card {
    max-width: 100%;
    padding: 4rem 2rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 10px;
  }
}
